wheel>=0.35.1
cachetools>=4.1.1
certifi>=2020.11.8
chardet>=3.0.4
idna>=2.10
lxml>=4.5.2
nose>=1.3.7
numpy>=1.19.1
pdfminer>=20191125
Pillow>=8.1.0
pip>=20.3.3
pycryptodome>=3.9.9
Pygments>=2.6.1
pyPdf>=1.13
PyQt5>=5.15.1
PyQt5-sip>=12.8.1
PyQtWebEngine>=5.15.1
python-dateutil
QScintilla>=2.11.5
regex>=2021.4.4
requests>=2.25.0
setuptools>=49.6.0
six>=1.15.0
svn>=1.0.1
urllib3>=1.26.2
pymongo
regex
cachetools
jax
dm-haiku
optax

